.container {
  /* background: radial-gradient(94.22% 204.93% at 95.03% 7.47%, rgba(1, 192, 231, 0.1) 26.56%, rgba(154, 4, 233, 0.1) 90.98%), #131722; */
  z-index: var(--modal-z-index);
}

.container .children-container {
  background: radial-gradient(94.22% 204.93% at 95.03% 7.47%, rgba(1, 192, 231, 0.1) 26.56%, rgba(154, 4, 233, 0.1) 90.98%), #131722;
}

.container .backdrop {
  z-index: var(--sidebar-z-index);

}