.container {
  overflow-x: hidden;
}

.container .section_1 {
  position: relative;
  min-height: 100%;
}

.container .section_2 {
  min-height: 100%;
}

.container .banner_text {
  font-size: 3rem;
  line-height: 4rem;
}

@media screen and (min-width: 768px) {
  .container .banner_text {
    font-size: 4rem;
    line-height: 5.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .container .banner_text {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.container .header-text {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .container .header-text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .container .header-text {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.solution_text {
  margin-bottom: 10px;
}

.solution_text img {
  position: absolute;
  bottom: -14px;
  /* width: 120% !important; */
}

.solution_text {
  position: relative;
}

.people_image_div {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.people_image_div::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 10px;
  margin: auto;
  height: 450px;
  width: 450px;
  background: rgba(207, 13, 255, 0.3);
  filter: blur(150px);
}

@media screen and (min-width: 768px) {
  .people_image_div::before {
    left: 40px;
    top: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .people_image_div {
    top: -10px;
  }
  .people_image_div::before {
    left: 100px;
    top: auto;
  }
}

.people_image_div img {
  position: relative;
  max-height: 680px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .people_image_div img {
    right: -50px;
  }
}

.pension_earnings {
  position: absolute;
  left: -20px;
  /* bottom: 10px; */
  padding: 30px 20px;
  background: rgba(94, 85, 85, 0.71);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  color: #fff;
}

@media screen and (min-width: 1400px) {
  .logos {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.logos img {
  width: auto;
  margin: auto;
}

.big-number {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
}

.map-image-container {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .map-image-container {
    top: -40px;
    right: -150px;
  }
}

.map-image-container img {
  margin: auto;
}

.start-numbers {
  position: absolute;
  font-size: 60px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .start-numbers {
    font-size: 96px;
  }
}

.start-numbers span {
  position: relative;
}

.start-numbers span::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  left: -6px;
  height: 45px;
  width: 45px;
  z-index: -1;
}

.section_3 {
  display: flex;
  position: relative;
  min-height: auto !important;
}
.section_3::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
  margin: auto;
  height: 250px;
  width: 250px;
  background: rgba(175, 0, 95, 0.3);
  filter: blur(140px);
}

.section_3 .cards:nth-child(3) span::before {
  left: -13px;
}

@media screen and (min-width: 768px) {
  .start-numbers span::before {
    bottom: 15px;
    height: 67px;
    width: 67px;
  }
}

.section_3 .cards:nth-child(2) span::before {
  background-color: var(--app-purple);
}

.section_3 .cards:nth-child(3) span::before {
  background-color: var(--app-red);
}

.section_3 .cards:nth-child(3) span {
  margin: auto;
}

.section_3 .cards:nth-child(4) span::before {
  background-color: var(--app-blue);
}

.section_3 .cards {
  position: relative;
  top: -40px;
  color: #fff;
  padding: 20px;
  background: linear-gradient(
    90.45deg,
    rgba(31, 31, 31, 0.28) 0.45%,
    #131313 99.67%
  );
  border: 0.5px solid #423a3a;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .section_3 .cards {
    top: 0px;
  }
}

.section_3 .cards .card-details {
  color: var(--app-grey);
  line-height: 1.7rem;
}

.title-container {
  position: relative;
  /* top: -40px */
}

.container .section_4 .cards {
  color: #fff;
  padding: 50px 40px;
  background: linear-gradient(
    90.45deg,
    rgba(31, 31, 31, 0.28) 0.45%,
    #131313 99.67%
  );
  border: 0.5px solid #423a3a;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .container .section_4 .cards {
    padding: 60px;
  }
}

.container .section_4 .cards .card-title {
  color: #fff;
  font-size: 18px;
  font-weight: 550;
}

.container .section_4 .cards .card-details {
  color: var(--app-grey);
  font-size: 14px;
  line-height: 1.7rem;
}

.container .section_5 .cards {
  color: #fff;
  padding: 30px;
  background: linear-gradient(
    90.45deg,
    rgba(31, 31, 31, 0.28) 0.45%,
    #131313 99.67%
  );
  border: 0.5px solid #423a3a;
  border-radius: 20px;
}

.section_6 .cards {
  position: relative;
  color: #fff;
  padding: 20px;
  background: linear-gradient(
    90.45deg,
    rgba(31, 31, 31, 0.28) 0.45%,
    #131313 99.67%
  );
  border: 0.5px solid #423a3a;
  border-radius: 20px;
}

.section_6 .cards .card-title {
  position: relative;
  font-size: 28px;
  color: #fff;
}

.section_6 .cards .card-title::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  right: 0px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 8px rgb(75 77 79 / 25%);
  box-shadow: 0 0 0 8px rgb(75 77 79 / 25%);
}

.section_6 div:first-child > .cards:first-child .card-title::after {
  background-color: var(--app-yellow);
  -webkit-box-shadow: 0 0 0 8px rgb(72 61 33 / 25%);
  box-shadow: 0 0 0 8px rgb(72 61 33 / 25%);
}

.section_6 .cards .card-details {
  font-size: 14px;
}

.section_6 svg {
  width: 90px;
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .section_6 svg {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1280px) {
  .section_6 svg {
    width: 120px;
    transform: rotate(0deg);
  }
}

.section_6 .cards img {
  min-width: 20px;
  min-height: 20px;
}

.cards {
  position: relative;
  overflow: hidden;
  transition: 0.6s;
}
.cards::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  filter: blur(30px);
  transform: translateX(-250px) skewX(-15deg);
}

.cards::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-250px) skewX(-15deg);
}

.cards:hover::before,
.cards:hover::after {
  transform: translateX(700px) skewX(-15deg);
  transition: 1s;
}

.container section {
  min-height: 90vh;
}

.container footer span {
  color: #a8a8a8 !important;
}
