.container {
  color: #fff;
}

.card-body {
  background-color: #19223c;
  color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
  transition: 0.6s;
}

.detail {
  color: #cca9a9;
}

.container span {
  display: inline-block;
}

.img-div img {
  max-height: 200px;
}

.special-btns :nth-child(1):disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.special-btns :nth-child(2) {
  background-color: var(--app-red) !important;
}

.special-btns :nth-child(2) {
}
