.container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--overlay-z-index);
  text-align: center;
}
